#top{
  border: 4px solid blue;
  width: 25%;
  text-align: center;
  /* top right bottom left */
  margin: auto;
}

#bottom{
  border: 4px solid red;
  width: 50%;
  text-align: center;
  padding: 200px;
}
